Lab 2/FPGA/radiant_project/lab2_dw/.ng_run_manager.ini
Lab 2/FPGA/radiant_project/lab2_dw/.ng_run_manager.ini
Lab 2/FPGA/radiant_project/lab2_dw/transcript
Lab 2/FPGA/radiant_project/lab2_dw/vsim.wlf
Lab 2/FPGA/radiant_project/lab2_dw/work/@_opt/_lib1_0.qpg
Lab 2/FPGA/radiant_project/lab2_dw/work/_info
Lab 2/FPGA/radiant_project/lab2_dw/work/_opt1__lock
lab3/FPGA/radiant_project/lab3_dw/.ng_run_manager.ini
lab3/FPGA/radiant_project/lab3_dw/source/impl_1.xcf
